<div id="gnp-overlay" class="hidden">
	<div class="gnp-json-container">
		<div class="gnp-switch-row">
		{% for i in range(10) %}
			<a href="#" data-gnp-context="{{i}}" class="gnp-switch{% if loop.first %} active{% endif %}">{{i}}</a>
		{% endfor %}
		</div>
		<p class="gnp-json-open-bracket"> { </p>
		{% for field in fields %}
		<div class="gnp-json-field">
			<label class="gnp-json-label">{{field.legend}}:</label>
			<div class="gnp-input-mod">
				{% if field.type == 'text' %}
					<span class="gnp-input-text">"<span class="gnp-input-value">{{opentag}} {{field.legend}} {{ closetag }}</span>"&nbsp;{% if not loop.last %},{% endif %}</span>	
					<input type="text" class="gnp-input" data-gnp-type="{{field.type}}" name="{{field.legend}}"  />
				{% elif field.type == 'date' %}
					<span class="gnp-input-text">"<span class="gnp-input-value">{{opentag}} {{field.legend}} {{ closetag }}</span>"&nbsp;{% if not loop.last %},{% endif %}</span>	
					<input type="date" class="gnp-input" data-gnp-type="{{field.type}}" name="{{field.legend}}" />
				{% elif field.type == 'md' %}
					<span class="gnp-input-text">"<span class="gnp-input-value">{{opentag}} _gnp_files.{{field.legend}} {{ closetag }}</span>"&nbsp;{% if not loop.last %},{% endif %}</span>	
					<input type="file" class="gnp-file-input" accept=".{{field.type}}" data-gnp-type="{{field.type}}" name="{{field.legend}}"/>
				{% endif %}

			</div>
		</div>
		{% endfor %}
		<p class="gnp-json-close-bracket"> } </p>
		<input type="button" class="gnp-button" id="gnp-save" value="save" />
		<input type="button" class="gnp-button" id="gnp-publish" value="publish" />
	</div>
</div>
