<template id="form-template">
 <form>
  {% for field in fields %}
  <fieldset>
  <legend>
   {{field.legend}} 
  </legend>
  {% if field.type == 'text' %}
  <input type="text" class="gnp-input" data-gnp-type="{{field.type}}" name="{{field.legend}}" />
  {% elif field.type == 'date' %}
  <input type="date" class="gnp-input" data-gnp-type="{{field.type}}" name="{{field.legend}}"/>
  {% elif field.type == 'md' %}
  <input type="file" class="gnp-file-input" accept=".{{field.type}}" data-gnp-type="{{field.type}}" name="{{field.legend}}"/>
  {% elif false %}
  <select class="gnp-input" name="{{field.legend}}" data-gnp-type="{{field.type}}"></select>
  {% endif %}
</fieldset>
 {% endfor %}
 <input type="button" name="save" class="gnp-button" id="gnp-save" value="save" />
 <input type="button" name="publish" class="gnp-button" id="gnp-publish" value="publish" />
 </form>
</template>
