<template id="form-template">
 <form>
  {% for field in fields %}
  <fieldset>
  <legend>
   {{field.legend}} 
  </legend>
  {% if field.type == 'text' %}
  <input type="text" class="gnp-input" data-gnp-type="{{field.type}}" name="{{field.legend}}" />
  {% elif field.type == 'date' %}
  <input type="date" class="gnp-input" data-gnp-type="{{field.type}}" name="{{field.legend}}"/>
  {% elif field.type == 'md' %}
  <select class="gnp-input" name="{{field.legend}}" data-gnp-type="{{field.type}}"></select>
  {% endif %}
</fieldset>
 {% endfor %}
 </form>
</template>
