#gnp-overlay {
 width: 100%;
 max-width: 300px;
 height: 100%;
 position: fixed;
 top: 0;
 right: 0px;
}

.gnp-button {
	border: solid 2px #aaa;
	color: #aaa;
	padding: 5px 10px;
	margin: 10px;
	background-color: #1C1F26;
	user-select: none;
	appearance: none;
	-moz-user-select: none;
	-moz-appearance: none;
	-webkit-user-select: none;
	-webkit-appearance: none;
	outline: none;
	text-align: center;
}

.gnp-button:hover, .gnp-button:active {
	border: solid 2px white;
	color: white;
}

.gnp-json-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 20px;
	height: 100%;
	color: white;
	-webkit-transition: left 0.75s;
	transition: left 0.75s;
	-moz-transition: left 0.75s;
 	background-color: #1C1F26;
}

#gnp-overlay.hidden .gnp-json-container{
	left: 100%;
}

#gnp-overlay:hover .gnp-json-container {
	left: 0%;
}
.gnp-json-container, .gnp-button {
	font-size: 16px;
	font-family: 'Inconsolata', mono-space;
}
.gnp-switch-row {
	margin-bottom: 2em;
}
.gnp-switch {
	color: #aaa;
	display: inline-block;
	padding: 4px;
	font-size: 20px;
}

.gnp-switch:hover, .gnp-switch.active {
	color: white;
}

.gnp-switch, .gnp-switch:hover, .gnp-switch:active, .gnp-switch:visited {
	text-decoration: none;
}


.gnp-json-field {
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.gnp-json-label {
}

.gnp-input-mod {
	line-height: 30px;
	display: inline;
}

.gnp-input-mod.trigger-edit .gnp-input-text {
	display: none;
}

.gnp-input-mod.trigger-edit .gnp-input, .gnp-input-mod.trigger-edit .gnp-file-input {
	display: initial;
}

.gnp-input, .gnp-file-input {
	display: none;
}

.gnp-input-text {
	color: #AAC48C;	
}

.gnp-close-bracket {

}

