#gnp-overlay {
 width: 100%;
 max-width: 300px;
 height: 100%;
 position: fixed;
 top: 0;
 right: 0;
 background-color: white;
}

#gnp-overlay.hidden {
 display: none;
}

.gnp-watch {
 display: inherit;
}
